---
layout: default
---

{% if site.jobs.size > 0 %}
  {% for job in site.jobs %}
  <div class="list-layout">
    <h2>{% if job.link and job.link != "" %}
      <a href="{{ job.link }}" target="_new">{{ job.title }}</a>
    {% else %}
      {{ job.title }}
    {% endif %}
    </h2>
    <div>{{ job.content | truncatewords: 30 }}</div>
    <date>{{ job.date | date_to_string }}</date>
  </div>
  {% endfor %}
{% else %}
  <div class="list-layout">
    <h2>Currently No Openings</h2>
  </div>
{% endif %}
